body{
    margin: 0;
}

.header
{
    background-color: black;
    color: white;
    text-align: right;
    font-size: 20px;
    padding: 25px;
    word-spacing: 35px;
}
.Objectives
{
    width:590px;
    height: 550px;
    margin-top:20px ;
    margin-left:150px ;
    border-color: black;
    border-style: solid;
    border-top-left-radius: 40px;
    border-bottom-right-radius: 40px
}
.linkup
{
    text-decoration: none;
    color: white;
}
.questions
{
    text-decoration: none;
    color:black;
}
.position
{
    position: relative;
    left: 12px;
}

